<%- include("../partials/header.ejs") %>

<h1>Login</h1>

<% if (errorMessage && errorMessage.length > 0){ %>
    <h1>Message: <%= errorMessage %></h1>
<% } %>

<% if (successMessage && successMessage.length > 0){ %>
    <h1>Message: <%= successMessage %></h1>
<% } %>

<form action="/login" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<%- include("../partials/footer.ejs") %>