<%- include("../partials/header.ejs") %>

<h1>Your profile page</h1>

<h2>Hi <%= user.name %></h2>

<h2>Interests</h2>
<% user.interests.forEach(topic => { %>
    <p><%= topic %></p>
<% }) %>

<%- include("../partials/footer.ejs") %>

