<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
    
    <% if (errorMessage && errorMessage.length > 0){ %>
        <h1>Message: <%= errorMessage %></h1>
    <% } %>
    
    <% if (successMessage && successMessage.length > 0){ %>
        <h1>Message: <%= successMessage %></h1>
    <% } %>

    <div id="topics-selector">
        <input type="checkbox" name="economy" class="topic-checkbox">
        <label>Economy</label><br>
        <input type="checkbox" name="tech" class="topic-checkbox">
        <label>Technology</label><br>
        <input type="checkbox" name="politics" class="topic-checkbox">
        <label>Politics</label><br>
        <button id="topics-selector-submit">Submit</button>
    </div>

    <div id="news-section">

    </div>

    <script type="text/javascript">

        findDefoultNews();

        // find new news on click
        document.getElementById("topics-selector-submit").onclick = function(){
            findPersonalizedNews();
        }

        // send the like
        $(".like-button").click(function () {
            console.log("clicked like")
            sendNewsLike($(this).attr("data-newsId"))
        })
        

        function findPersonalizedNews(){
            
            // get the wanted topics
            var topicsString = "";
            document.querySelectorAll(".topic-checkbox").forEach(function(el){
                if(el.checked){
                    topicsString += (el.name + "-");
                }
            })
            topicsString = topicsString.substring(0, topicsString.length - 1);

            $.ajax("/news/find?search=personalized&topics=" + topicsString, {
                method: "POST",
                dataType : "xml",
                success: function(xml){
                    showNews(xml);
                },
                error: function(request, error, message){
                    
                        console.log(error)
                    
                }
            })
        }


        function findDefoultNews() {
            $.ajax("/news/find", {
                method: "POST",
                dataType : "xml",
                success: function(xml){
                    showNews(xml);
                },
                error: function(request, error, message){
                    
                        console.log(error)
                    
                }
            })
        }


        function showNews(xml){
            news = $(xml);

            // make the news section blank
            document.getElementById("news-section").innerHTML = "";

            var htmlContent = "";

            console.log(news.find("news").each(function(){
                
                    htmlContent += "<div>" + 
                    "<h2><a href='" + $(this).find("link").text() + "'>" + 
                        $(this).find("title").text() + "</a></h2>" +
                    "<p>" + $(this).find("body").text() + "</p>" +
                    "<p>" + $(this).find("newspaper").text() + "</p>" +
                    "<p>" + $(this).find("topics").text() + "</p>" +
                    "<p>" + $(this).find("date").text() + "</p>" +
                    "<p>Likes:" + $(this).find("likes").text() + "</p>" +
                    "<button class='like-button' data-newsId='" + $(this).find("id").text() + "'>Like</button>" +
                    "</div>";
            }))

            $("#news-section").html(htmlContent)

            $(".like-button").click(function () {
                console.log("clicked like")
                sendNewsLike($(this).attr("data-newsId"))
            })
        }


        // send the ajax request to like the news
        function sendNewsLike(newsId){
            $.ajax("/news/" + newsId + "/like?_method=PUT", {
                method: "POST",
                success: function(data){
                    console.log(data == 1 ? "liked" : "disliked");
                },
                error: function(jqXHR, textStatus, errorThrown ){
                    console.log("news not liked")
                }
            })
        }

    </script>

</body>
</html>