<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/landing.css">

<div id="main-container">
    <div id="main-row" class="row no-margin-row">
        
        <!-- background faded image -->
        <div class="col-12 col-md-7 col-lg-8 no-padding-col">
            <div class="landing-img-wrapper">
                <img src="/images/landing/words.jpg" alt="Photo by Amador Loureiro on Unsplash" class="landing-img">
                <div class="landing-img-gradient"></div>
             </div>
        </div>

        <!-- description -->
        <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center no-padding-col">
            <div id="description-container">
                <p><strong>Dailify</strong> allows you to stay updated on the <strong>latest events</strong> in the world. It's <strong>free</strong> and <strong>open-source</strong> and combines news from major newspapers to make sure you don't miss anything important. You can <strong>customize</strong> your interests to receive news on topics that you find most fascinating. You don't have to register to start using it!</p>
                <a id="call-to-action-btn" href="/news" class="btn btn-primary w-100">Stay up to date</a>
            </div>
        </div>

    </div>
</div>


<%- include('./partials/footer.ejs') %>