<%- include("./partials/header.ejs") %>

<% if (errorMessage && errorMessage.length > 0){ %>
    <h1>Message: <%= errorMessage %></h1>
<% } %>

<% if (successMessage && successMessage.length > 0){ %>
    <h1>Message: <%= successMessage %></h1>
<% } %>

<div id="topics-selector">
    <input type="checkbox" name="economy" class="topic-checkbox">
    <label>Economy</label><br>
    <input type="checkbox" name="tech" class="topic-checkbox">
    <label>Technology</label><br>
    <input type="checkbox" name="politics" class="topic-checkbox">
    <label>Politics</label><br>
    <button id="topics-selector-submit">Submit</button>
</div>

<div id="news-section">

</div>

<script type="text/javascript" src="js/news.js"></script>

<%- include("./partials/footer.ejs") %>